.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear; /* ori 20s */
  height: 40px;
}

.App-header {
  background-color: #aaa;
  height: 80px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#potrait{
  position : absolute;
  top : 10px;
  left : 10px;
  
}

.personal-logo{
  border-radius: 50%; /* rounded image*/
}